/*@import url('variables.css');*/
:root {
    --text-color: #1a1a1a;
    --text-color-light: #f7f7f7;
    --bg-color: #f1f0f0;
    --bg-color-complement: #979797;
    --main-color: #f7f7f7;
    --main-color-complement: #eeeeee;
    --main-color-complement-hover: #ebebeb;
    --red-color: rgb(255, 79, 79);
    --red-color-hover: rgb(220, 64, 64);
    --blue-color: rgb(79, 120, 255);
    --blue-color-hover: rgb(51, 82, 186);
    --green-color: rgb(79, 255, 135);
    --green-color-hover: rgb(66, 206, 110);
    --box-shadow-color: #1a1a1a;
}

.dark-mode {
    --text-color: #dcd7d7;
    --text-color-light: #181818;
    --bg-color: #161616;
    --bg-color-complement: #383838;
    --main-color: #1d1d1d;
    --main-color-complement: #1a1a1a;
    --main-color-complement-hover: #151515;
    --box-shadow-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
    background-image: radial-gradient(var(--bg-color-complement) 1px, transparent 0);
    background-size: 1rem 1rem;
    background-position: -1.25rem -1.25rem;
}

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todo-list {
    width: 20rem;
    margin: .5rem;
    box-shadow: 2px 2px 10pX 1px var(--box-shadow-color);
}

.list-content {
    padding: 1rem;
    background-color: var(--main-color);
}

.list-color {
    height: 0.25rem;
    width: 100%;
    background-color: red;
}

.list-header {
    position: relative;
    display: flex;
    flex-direction: row;
}

.list-title {
    width: 12rem;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.list-title-input {
    width: 12rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    padding: .0625rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    background-color: var(--main-color);
    border: none;
}

.list-rename {
    color: var(--blue-color);
    font-size: 1.5rem;
}

.list-remove {
    position: absolute;
    right: 0;
    color: var(--red-color);
    font-size: 1.5rem;
}

.task-button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.task-button i{
    font-size: 2rem;
    color: var(--green-color);
}

.task-button:hover i{
    cursor: pointer;
    color: var(--green-color-hover);
}

.edit-task-button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-task-button i{
    font-size: 1.5rem;
    color: var(--blue-color);
}

.edit-task-button:hover i{
    cursor: pointer;
    color: var(--blue-color-hover);
}

#removeListButton i{
    font-size: 1.5rem;
    color: var(--red-color);
}

#removeListButton:hover i{
    cursor: pointer;
    color: var(--red-color-hover);
}

#changeListColorButton i{
    font-size: 1.5rem;
    margin-top: .3rem;
    margin-left: .5rem;
    color: var(--blue-color);
}

#changeListColorButton:hover i{
    cursor: pointer;
    color: var(--blue-color-hover);
}

.task-item {
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: solid 0.0625rem var(--main-color-complement);
}

.task-item:last-child {
    border-bottom: none;
}

.single-task-button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.single-task-button i{
    font-size: 1rem;
}

.single-task-button:hover i{
    cursor: pointer;
}

.add-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

#deleteTaskButton {
    position: absolute;
    right: 0;
}

#deleteTaskButton i{
    color: var(--red-color);
}

#deleteTaskButton:hover i{
    color: var(--red-color-hover);
}

#renameTaskButton {
    position: absolute;
    right: 1.5rem;
}

#renameTaskButton i{
    color: var(--blue-color);
}

#renameTaskButton:hover i{
    color: var(--blue-color-hover);
}

#completeTaskButton {
    margin-right: 1.5rem;
}

#completeTaskButton i{
    font-size: 1.2rem;
    color: var(--bg-color-complement);
}

#completeTaskButton:hover i{
    color: var(--blue-color-hover);
}