/* @import url('variables.css'); */
/* :root {
    --text-color: #1a1a1a;
    --text-color-light: #f7f7f7;
    --bg-color: #eff7f9;
    --bg-color-complement: #979797;
    --main-color: #edf8fb;
    --main-color-complement: #eeeeee;
    --main-color-complement-hover: #ebebeb;
    --red-color: rgb(255, 79, 79);
    --red-color-hover: rgb(220, 64, 64);
    --blue-color: rgb(79, 120, 255);
    --blue-color-hover: rgb(51, 82, 186);
    --green-color: rgb(79, 255, 135);
    --green-color-hover: rgb(66, 206, 110);
    --box-shadow-color: #bbbbbb;

    --title-color: #dee6e8;

    --ccm-color-red: #ff3535;
    --ccm-color-orange: #ff9d35;
    --ccm-color-yellow: #fffc35;
    --ccm-color-green: #5dff35;
    --ccm-color-cyan: #35ffff;
    --ccm-color-blue: #3578ff;
    --ccm-color-purple: #8d35ff;
}

.dark-mode {
    --text-color: #dcd7d7;
    --text-color-light: #181818;
    --bg-color: #2b2b2b;
    --bg-color-complement: #474646;
    --main-color: #262626;
    --main-color-complement: #1a1a1a;
    --main-color-complement-hover: #151515;
    --box-shadow-color: #1b1b1b;

    --title-color: #212020;
} */

.toolbox {
    position: fixed;
    width: 5rem;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    padding: 1rem 0.5rem;
    background: var(--main-color);
    box-shadow: 1px 1px 6pX 0px var(--box-shadow-color);
    z-index: 1000;
    transition: width 0.3s ease;
    overflow: hidden;
}

.toolbox.expanded {
    width: 15rem;
}

.toggle-button {
    background-color: var(--main-color);
    border: none;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.toggle-button:hover{
    background-color: var(--main-color-complement-hover);
}

.toolbox .button-section {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.toolbox .button-section button {
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: 0.3s;
}

.toolbox .button-section button:hover {
    background: var(--main-color-complement-hover);
}

.separator {
    width: 100%;
    height: .0625rem;
    background-color: var(--box-shadow-color);
    margin-top: .25rem;
    margin-bottom: .25rem;
}

#listSection {
    background: var(--main-color);
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    padding: .5rem .3rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.list-overview-item {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    padding: .3rem .5rem;
    overflow: hidden;
    user-select: none;
}

.list-overview-item:hover {
    background: var(--main-color-complement);
}

.list-overview-item .text {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.3s ease;
}

.toolbox.expanded .list-overview-item .text {
    max-width: 10rem;
}