/*:root {
    --text-color: #1a1a1a;
    --text-color-light: #f7f7f7;
    --bg-color: #eff7f9;
    --bg-color-complement: #979797;
    --main-color: #edf8fb;
    --main-color-complement: #eeeeee;
    --main-color-complement-hover: #ebebeb;
    --red-color: rgb(255, 79, 79);
    --red-color-hover: rgb(220, 64, 64);
    --blue-color: rgb(79, 120, 255);
    --blue-color-hover: rgb(51, 82, 186);
    --green-color: rgb(79, 255, 135);
    --green-color-hover: rgb(66, 206, 110);
    --box-shadow-color: #bbbbbb;

    --title-color: #dee6e8;

    --ccm-color-red: #ff3535;
    --ccm-color-orange: #ff9d35;
    --ccm-color-yellow: #fffc35;
    --ccm-color-green: #5dff35;
    --ccm-color-cyan: #35ffff;
    --ccm-color-blue: #3578ff;
    --ccm-color-purple: #8d35ff;
}

.dark-mode {
    --text-color: #dcd7d7;
    --text-color-light: #181818;
    --bg-color: #2b2b2b;
    --bg-color-complement: #474646;
    --main-color: #262626;
    --main-color-complement: #1a1a1a;
    --main-color-complement-hover: #151515;
    --box-shadow-color: #1b1b1b;

    --title-color: #212020;
}*/