:root {
    --text-color: #1a1a1a;
    --text-color-light: #2d2d2d;
    --bg-color: #f1f0f0;
    --bg-color-complement: #979797;
}

.dark-mode {
    --text-color: #dcd7d7;
    --text-color-light: #cccaca;
    --bg-color: #161616;
    --bg-color-complement: #383838;
}